/desktop.ini
/KERJEAN_HELPIQUET_project.ipynb
/KERJEAN_HELPIQUET_project1.ipynb
/KERJEAN_HELPIQUET_project2.ipynb
/Project-Portfolio.pdf
/project.py
/projet.ipynb
/question13_scp_kurtosis.pdf
/question14_comparison.pdf